/* Unit for spacing and allignment */
$unit: 10px;

/* Fonts */
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

/* Colors */
$black: #000;
$white: #fff;
$dark: #222;

/* UI elements */
$level-width: $unit * 64;

