.modal {
    /* Default Modal styles */
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s, visibility .3s;

    &--open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    
    /* Modal Overlay */
    &__overlay {
        width: 100%;
        height: 100%;
        background-color: $modal-overlay-bg;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 998;
    }

    /* Modal Content */
    &__content {
        width: 100%;
        max-width: $modal-content-max-width;
        background-color: $white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 999;
    }
    
    /* Modal Body */
    &__body {
        padding: $unit * 4 $unit * 2;
        text-align: center;
        
        h4 {
            margin: 0 0 $unit;
		}
		
		p {
			margin: 0;
		}
    }
    
    /* Modal Actions */
    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $unit * 2;
		background-color: $light-gray;
		
		.button {
			margin: 0 $unit;
		}
	}
	
	/* Mobile styles */
	@media(max-width: 479px) {
		&__content {
			max-width: calc(100% - #{$unit * 4});
		}

		&__body {
			h4 {
				font-size: $unit * 1.8;
			}
		}
	}
}
