.level {
    /* Default Level styles */
    display: flex;
    flex-flow: row wrap;
    width: $level-width;
    margin: 0 auto;
    border: 1px solid $dark;
    position: relative;

    /* Level Cell */
    &__cell {
        flex: 0 0 10%;
        max-width: 10%;
        padding-bottom: calc(10% - 2px);

        &--start,
        &--end {
            position: relative;

            &:before,
            &:before {
                content: '';
                width: 100%;
                height: 2px;
                background-color: $white;
                position: absolute;
                left: 0;
                z-index: 10;
            }
        }

        &--start:before {
            bottom: 100%;
        }

        &--end:before {
            top: 100%;
        }

        /* Level Borders */
        &--border-left {
            border-left: 1px solid $dark;
        }

        &--border-right {
            border-right: 1px solid $dark;
        }

        &--border-up {
            border-top: 1px solid $dark;
        }

        &--border-down {
            border-bottom: 1px solid $dark;
        }
    }

    /* Level sizes */
    &--size-20 {
        .level__cell {
            flex: 0 0 5%;
            max-width: 5%;
            padding-bottom: calc(5% - 2px);
        }
    }

    /* Level Pin */
    &__pin {
        width: $unit * 1.2;
        height: $unit * 1.2;
        margin: $unit * -.7 0 0 $unit * -.7;
        background-color: $dark;
        border-radius: 50%;
        position: absolute;
        z-index: 20;
        transition: transform .15s linear;
    }
}
