.level {
    /* Default Level styles */
    display: flex;
    flex-flow: row wrap;
    max-width: $level-width;
    margin: 0 auto;
    border: 1px solid $dark;
    position: relative;

    /* Level Cell */
    &__cell {
        flex: 0 0 $level-size-easy;
        max-width: $level-size-easy;
        padding-bottom: calc(#{$level-size-easy} - 2px);

        &:nth-child(2) {
			background-color: rgba($red, .75);
			position: relative;
		}

		&:last-child {
			background-color: rgba($green, .75);
			position: relative;
		}

        /* Level Borders */
        &--border-left {
            border-left: 1px solid $dark;
        }

        &--border-right {
            border-right: 1px solid $dark;
        }

        &--border-up {
            border-top: 1px solid $dark;
        }

        &--border-down {
            border-bottom: 1px solid $dark;
        }
    }

    /* Level sizes */
    &--size-14 {
        .level__cell {
            flex: 0 0 $level-size-normal;
            max-width: $level-size-normal;
            padding-bottom: calc(#{$level-size-normal} - 2px);
        }
	}
	
	&--size-18 {
        .level__cell {
            flex: 0 0 $level-size-medium;
            max-width: $level-size-medium;
            padding-bottom: calc(#{$level-size-medium} - 2px);
        }
	}
	
	&--size-22 {
        .level__cell {
            flex: 0 0 $level-size-hard;
            max-width: $level-size-hard;
            padding-bottom: calc(#{$level-size-hard} - 2px);
        }
	}
	
	&--size-26 {
        .level__cell {
            flex: 0 0 $level-size-insane;
            max-width: $level-size-insane;
            padding-bottom: calc(#{$level-size-insane} - 2px);
        }
    }

    /* Level Pin */
    &__pin {
        width: $unit * 1.2;
        height: $unit * 1.2;
        margin: $unit * -.7 0 0 $unit * -.7;
        background-color: $dark;
        border-radius: 50%;
        position: absolute;
        z-index: 20;
        transition: transform .15s linear;
	}
	
	/* Mobile styles */
	@media(max-width: 639px) {
		&__pin {
			width: $unit * .6;
			height: $unit * .6;
			margin: $unit * -.4 0 0 $unit * -.4;
		}
	}
}
